<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp1jNFW3f4TC5ZydoNMn2KRSYzrcQ" Guid="{FE683F53-EAF9-471C-B0F0-F5D71C06DFC7}">
                <File Id="fil9lxhGDqGZ2ei4Lso0B08j89vPLk" KeyPath="yes" Source="$(var.BasePath)\AdvancedSkills.json" />
            </Component>
            <Component Id="cmpDSGGeDFo2AsbSrbqFJnkvQ2ahLM" Guid="{A1C90C9B-0481-426B-B6BA-42968961A4C0}">
                <File Id="filTnqir8plLW_W3SdHyVySGbNLCeI" KeyPath="yes" Source="$(var.BasePath)\Quests.txt" />
            </Component>
            <Component Id="cmp5m.3X3VqzNgomGbOVaBnSYseOnQ" Guid="{2ADC7987-2185-4159-B501-4AB55B9DCD34}">
                <File Id="filRzok6775iaZ1jTUfDQqSBWCmhPA" KeyPath="yes" Source="$(var.BasePath)\Skua.App.WPF.deps.json" />
            </Component>
            <Component Id="cmpCDl9csrOFOqqrs8i0gy0AiafQVM" Guid="{D81CDA68-13C3-4163-9443-1A04A36112E8}">
                <File Id="filnHs5TVAauZTjj2yqa1MxrgsMWCQ" KeyPath="yes" Source="$(var.BasePath)\Skua.App.WPF.dll" />
            </Component>
            <Component Id="cmpxuW2g8iq1IOgEZCaQZ41FWeDWRY" Guid="{47A3F442-0B79-46A3-8C7E-984FE5A41B5B}">
                <File Id="filC84K3TJW9jL9OXtKAw9gXsxER9E" KeyPath="yes" Source="$(var.BasePath)\Skua.App.WPF.runtimeconfig.json" />
            </Component>
            <Component Id="cmp16IgY9t_fazmSPUoQ1CRWC.rJPU" Guid="{E58CE598-B324-4F4E-9B54-62EB484ECA4A}">
                <File Id="filQo_S0vwWXTaJurTerecEMWaDKME" KeyPath="yes" Source="$(var.BasePath)\Skua.exe" />
            </Component>
            <Component Id="cmpPFYKxBnOblQarjebLOCsFXjRCDE" Guid="{CBDC2068-758B-489C-B6B4-0DF196EE977C}">
                <File Id="filC.ucx43Epira1hcBvxydlFtC8P0" KeyPath="yes" Source="$(var.BasePath)\Skua.Manager.dll" />
            </Component>
            <Component Id="cmp8hsp9SEV0wB7Ig3B4bPq.S8R6II" Guid="{891B3EA5-3010-42D6-BF72-A035F3DD9C22}">
                <File Id="filIIz.9dUBgJFNFX1fYfvbYLt.v08" KeyPath="yes" Source="$(var.BasePath)\Skua.Manager.exe" />
            </Component>
            <Component Id="cmpmSSw8f0QP6BTtDsttmf3.5qtlg8" Guid="{B9314654-1C3A-433A-AFE4-EF3FDCDDE0A3}">
                <File Id="fil_y0VKAaIrKKptgmbJ2wHea3yn2M" KeyPath="yes" Source="$(var.BasePath)\Skua.Manager.runtimeconfig.json" />
            </Component>
            <Component Id="cmpBTF1QW_ZZrRWEO1zA11EyTQIu_A" Guid="{AC0D16EF-0A84-4E7A-AC72-13C086AB250D}">
                <File Id="filJzCg23Gu5._9kFkBug0_lXDv5y4" KeyPath="yes" Source="$(var.BasePath)\skua.swf" />
            </Component>
            <Directory Id="dirOit0dm4bCDatToFS3HRsSegabCM" Name="Assemblies">
                <Component Id="cmp76NgR1ug5r_dWRvSGvqCA2TRe0I" Guid="{B0D7E018-4E69-4B9C-A1E2-298B98AABC7C}">
                    <File Id="fili_kBzYaHfhgJ.IE24xhhq4gc9k8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\AxInterop.ShockwaveFlashObjects.dll" />
                </Component>
                <Component Id="cmpv1hRnTuIyEw8HTLR.TOmcv6RcHk" Guid="{1D88D5A5-43AC-4B6B-91E1-1A7B439BD854}">
                    <File Id="filRgwU5CPEoWCTOWWQPmnHMPACXW4" KeyPath="yes" Source="$(var.BasePath)\Assemblies\CommandLine.dll" />
                </Component>
                <Component Id="cmpeyEdtaRR0DJwykzBAf7.88L7MFc" Guid="{FE0D20F1-68FD-48A0-843F-3EF01D0223A6}">
                    <File Id="filpF0K3gHLP1JNwE7JHlqMVWd8a8E" KeyPath="yes" Source="$(var.BasePath)\Assemblies\CommunityToolkit.Mvvm.dll" />
                </Component>
                <Component Id="cmpxjDK3X.F5CGQ4g.FHn37U1Wq1cE" Guid="{23A7D25B-C45C-4999-9755-F415E94885E0}">
                    <File Id="filtICz0x.xYGYKIFzVYmn4zSmkJX4" KeyPath="yes" Source="$(var.BasePath)\Assemblies\CoreHook.dll" />
                </Component>
                <Component Id="cmpqAJ_uP7nhj_ifyrHNxsjBNj.hUY" Guid="{752D1C05-7C4E-4CD9-B437-D9253FA6ABA3}">
                    <File Id="fil.E6MUxBrc8nBw0lXeQnnelWzp1A" KeyPath="yes" Source="$(var.BasePath)\Assemblies\corehook32.dll" />
                </Component>
                <Component Id="cmpg9xqCg_X_Ye_2ppUmSVvugcrrQI" Guid="{A49F0013-7DBF-4D06-A4E2-7978573EFED3}">
                    <File Id="filEoTHntTOc91Ng9JEsHhfPHXxTJs" KeyPath="yes" Source="$(var.BasePath)\Assemblies\corehook64.dll" />
                </Component>
                <Component Id="cmpTFRuT2tca4GI3pybuRiHv1s4lCI" Guid="{A4CCCD82-FBFE-4F83-98D0-B82510A8414C}">
                    <File Id="filxliFBzrLdwcDqp3XZ0PoPezdRY8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\coreload32.dll" />
                </Component>
                <Component Id="cmpAalQni6rKhKfftMQpwteB4Q43bE" Guid="{E179925F-DE14-4E53-9114-E1DF755D8733}">
                    <File Id="filb6cHnfPx463ND44f5XW_pM23WqM" KeyPath="yes" Source="$(var.BasePath)\Assemblies\coreload64.dll" />
                </Component>
                <Component Id="cmpYUsAQD5_H4lkZaOFihdt1lq8tJA" Guid="{2DD1C8C3-3111-4CBF-9A38-064FE5A18BC4}">
                    <File Id="filmQEfjv69Ue0XqJHG_Ib5bFc048c" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Hardcodet.NotifyIcon.Wpf.dll" />
                </Component>
                <Component Id="cmpapyxUwF5dGOyWg78m8WDqyfk4lM" Guid="{999A2635-1C62-4A45-B74A-BF90B73889FF}">
                    <File Id="filfgte.n1u_ZB.lS4OLQoRF6EJY3g" KeyPath="yes" Source="$(var.BasePath)\Assemblies\ICSharpCode.AvalonEdit.dll" />
                </Component>
                <Component Id="cmp90cGoq76VXAUDWy0_drsw8J4OFI" Guid="{BF4CF5F1-A1F1-44B2-8B56-37F79FC8F1EC}">
                    <File Id="fila6ANyFloZGdMinaGF79fRA5L2uw" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Interop.ShockwaveFlashObjects.dll" />
                </Component>
                <Component Id="cmpo6sOvF.6gNCyka0_kfH5DbLcAF0" Guid="{EB1C03FC-515C-41CD-B4AD-460A3F86283B}">
                    <File Id="filJRkx1As1dx7P_baZFpQblYR4mho" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MaterialDesignColors.dll" />
                </Component>
                <Component Id="cmp34f515Kgos6k.4W9mKFZRz1XtkE" Guid="{0D777FF9-844D-48B7-9EF5-03FFD085106C}">
                    <File Id="filiBpMBYgnZGredvTI2HU0j4E4XDE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MaterialDesignThemes.Wpf.dll" />
                </Component>
                <Component Id="cmpU86PzXQ9SSPdEag9wEQwGrFLWIw" Guid="{A02A31FD-73B2-4A76-AA09-4E6D1F191D25}">
                    <File Id="filjXOd6YHbYJXx07Y7mfbX1Nf78NM" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MdXaml.dll" />
                </Component>
                <Component Id="cmpF7UTkP4.iHa89YUQpDP4r92gzyM" Guid="{508C6EBC-A9AD-49BB-A28D-7D80B2F34961}">
                    <File Id="filGuqWWw.0Lak1mqlkkF_e_Wx9uF0" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MdXaml.Plugins.dll" />
                </Component>
                <Component Id="cmpEVzVxMzhEICnbbsNam6ZSszhKB4" Guid="{3A6467CD-1282-4D21-9DAC-A7674A215842}">
                    <File Id="fil3m9mdTpIaVOlq0_TkEeuS056KKE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.CodeAnalysis.CSharp.dll" />
                </Component>
                <Component Id="cmpa4NLJqlTYp._bXq4TM_MAIjJRBM" Guid="{3FB560D2-8180-4B31-AFA6-F735040810F4}">
                    <File Id="filfoItlGLxekp_9V25ZAp5Hz5LNxo" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.CodeAnalysis.dll" />
                </Component>
                <Component Id="cmp8gYc93fFKeipa4BxL7DMHfwLNcM" Guid="{4F2E14A4-EDEE-4AA3-99D7-2213AA7ECEE7}">
                    <File Id="filglW.BztdFzkxh3LC.pmoPxFvW5Q" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.CodeAnalysis.Scripting.dll" />
                </Component>
                <Component Id="cmpEZ5oVtMB2JU3ySArlAAxkZcwgfY" Guid="{2AF30AF1-1727-440C-A467-0B3913EAA6F6}">
                    <File Id="fil0kcMqmEBRH6HCBV7AmxiUKvOyPk" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
                </Component>
                <Component Id="cmpMlyimaLaGACmtcStHx0evR0Iq0k" Guid="{09CF1026-D4FA-41A4-86B9-B55D3681EFCC}">
                    <File Id="fil9cJnaNzurQNbq2UYzxAKTsqgRc8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.Extensions.DependencyInjection.dll" />
                </Component>
                <Component Id="cmpCMGyk6cuM1Fa.r7HygS_nHm0haU" Guid="{DBFF4C5C-F0F4-4695-BF60-6A09398DA200}">
                    <File Id="filGxpIk7kVElbe9tV2rM23Od2rlMI" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.Xaml.Behaviors.dll" />
                </Component>
                <Component Id="cmpr7yJ11NeAJFnhycNWfuGfswmhuk" Guid="{79D79213-7B6A-4E8A-87A2-91953098966C}">
                    <File Id="filEXSO7nDCW7vDDAypY9I.vurYR7A" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Newtonsoft.Json.dll" />
                </Component>
                <Component Id="cmpUgZM.GruUNhj_f.VW41RB5VQ6Dc" Guid="{E2965404-C8C0-4EC9-950C-15EEAC68586F}">
                    <File Id="filikivfbCed4wbE01JGbtHf4isAoI" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Ookii.Dialogs.Wpf.dll" />
                </Component>
                <Component Id="cmpbCnbEzfz6x.k1QwVODi_NvnURbs" Guid="{AEE1ADBC-E00E-4615-AA7A-CFF80B31FFE5}">
                    <File Id="fil_7if9rvmQ74xz4ub1O5pUNLvAwc" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.App.WPF.pdb" />
                </Component>
                <Component Id="cmpZsDKwJPhHLdTEqgNZrdpcddDvZc" Guid="{9CA33DDA-9A70-4F35-8B80-5450FD739DCD}">
                    <File Id="filMcd_wKlsy3nS_VKG7vMieh0NBro" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.dll" />
                </Component>
                <Component Id="cmppN79cNWmdoe9svQXszvyURaVG8U" Guid="{308A52AC-23B6-4FD1-B03C-AA9A53AC3855}">
                    <File Id="fil8EI8NkDupHGRazcV2dx6NTov5Lo" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Interfaces.dll" />
                </Component>
                <Component Id="cmpjwQEKti5i0hubIiPFWe5g0_gjdY" Guid="{0F7528D2-A762-4B30-8AC5-F964BF23C01B}">
                    <File Id="filBvMnpzIXFgv6FWwhMxhbwQiXTk8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Interfaces.pdb" />
                </Component>
                <Component Id="cmpq8Pq.Vm4MMCvkd_6MoVrL2wpZHk" Guid="{A497B08F-7F1E-46AE-A3D8-13545FD4558D}">
                    <File Id="filIVrScc610GzR9eBJm8S3b7wjRLQ" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Interfaces.xml" />
                </Component>
                <Component Id="cmpMMlcpLmrIKRKm32jJeNR1H2RX3Y" Guid="{65A7D493-309E-4D9C-ADD6-4C281B663E95}">
                    <File Id="fil5k4mND11YU3bhn.cmqi76IRlTtY" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Models.dll" />
                </Component>
                <Component Id="cmpjI5cJaRsiYHVHzVrkfOwYtcpGOg" Guid="{D88C4F41-61CD-4E99-A496-42B9DC995FB6}">
                    <File Id="filWyWEMxXoXTQ0ZKmiG6j4UbtekN0" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Models.pdb" />
                </Component>
                <Component Id="cmpKA3f6mkU0wnYnOmvyEM4J7GNGdc" Guid="{13D09CAB-B4D9-41B3-8D11-2D089A1BC5D3}">
                    <File Id="fil_WSTOD7ghl2eOhu06qVOwQIqrwU" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Models.xml" />
                </Component>
                <Component Id="cmpvWm3IMoVXVXlKCv1Y4zYgq1U_3Y" Guid="{A5AD71F0-50CB-4BFB-AB3D-24D69174390B}">
                    <File Id="filpHtxp52sF92eq7JaQrVFifPnlIo" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.pdb" />
                </Component>
                <Component Id="cmpB_Gx_SinMoDsOzsgeiEvFqEF.k8" Guid="{DBDCEC72-141B-4265-AF87-5C15412E16E5}">
                    <File Id="fil7pBwRlfgpnpuZWY20DT8I1HCy2s" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Utils.dll" />
                </Component>
                <Component Id="cmpjlmlIKGeGq86HE2329.kEotx3kA" Guid="{CD7D0275-1E22-4C51-89BB-2AB5B290D880}">
                    <File Id="filz9PNR38eaNZwx3ee6nUwIouIYcE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Utils.pdb" />
                </Component>
                <Component Id="cmpNMPP8D8914YVwpSPT1VV7yFcKfE" Guid="{D52212EF-E016-42B2-A69C-258441B9F382}">
                    <File Id="filCgZeIv9H.6QP3Mmn_96g75bO0x0" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Utils.xml" />
                </Component>
                <Component Id="cmpOIZKPUqZJkQtmIcSQl2xJDTr.pA" Guid="{DF567D76-BB83-43FD-A8DF-1C3758F93180}">
                    <File Id="filS.8xcJtFZjyY676HNvrGYYqiWeE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.xml" />
                </Component>
                <Component Id="cmpir87lYjO6bRxezEOdUl5mM0KNFg" Guid="{8875859B-FC1D-45D3-AC2A-7FD8FAF62E21}">
                    <File Id="filZD48ZcUVrDDtBgPcN4OxXJTUkSs" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.WPF.dll" />
                </Component>
                <Component Id="cmpSAE.v_lE_V97jwgjGm4iixutvrE" Guid="{50AC45C7-2AC8-4D5E-A840-41088857A720}">
                    <File Id="fil19HxE5qXg0T7uuq2vrmXofFE0vM" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.WPF.pdb" />
                </Component>
                <Component Id="cmpkUcXKeDNTEtxDRi7ufyMYI6rhZk" Guid="{A98B7B9F-3733-401B-9290-B8DA70210DC9}">
                    <File Id="filylIQk6JFC3wSw.nBM5C2jzs8esE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\System.IO.FileSystem.Watcher.dll" />
                </Component>
                <Component Id="cmphd1wYH18HgcrwcgM.yn95ziTilI" Guid="{110FD8AD-0B85-44E6-BEF6-4BE012ECC2A5}">
                    <File Id="fil9Jj1ITschyHH6H0829rDLhI7h9U" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Westwind.Scripting.dll" />
                </Component>
            </Directory>
            <Directory Id="dirLY7M72oAxdEthNwms2DynWzkJUg" Name="FFDec">
                <Component Id="cmpgzTT232Q52zGmghbZjU9TCBYODU" Guid="{CB1E4354-0559-4ABB-A5D7-EC3A77C296EC}">
                    <File Id="filcUvO.YXGJzlu1mCMXpm9d9RlbOY" KeyPath="yes" Source="$(var.BasePath)\FFDec\ffdec.bat" />
                </Component>
                <Component Id="cmpW61I7dLIB0FX59I4zYZsCoxxH4c" Guid="{D1D6AD77-A6A9-4640-9A3A-4EC8DF57A1B2}">
                    <File Id="filzTDC6kUGNAz46Wu0xysKeIYMIR8" KeyPath="yes" Source="$(var.BasePath)\FFDec\ffdec.jar" />
                </Component>
                <Directory Id="dirsiUHuPUDRIChrXcta5.PSX.3thU" Name="lib">
                    <Component Id="cmp33RLereX_kvxAxRCVtUWz4HLRiA" Guid="{7AEF4F86-9F62-4B46-B0D2-C6593558BB5E}">
                        <File Id="filCoxWdxy6i96eo52bfupz5rhGR4o" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\antlr-runtime-4.11.1.jar" />
                    </Component>
                    <Component Id="cmpp.ehpjfePsG.djgYNTagYFm4S60" Guid="{0B2B9BDB-A71D-4985-ADF8-0971297D6A7C}">
                        <File Id="filRQBVvgnXuomhDCRwpIr1u40UUow" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\avi.jar" />
                    </Component>
                    <Component Id="cmp5YinyJaCP.aYkL4lsomf0_Jo0dc" Guid="{57177AC0-7F09-4913-9A8E-0ACE2E8CBFAE}">
                        <File Id="filGlMFCPl6TqUxN4_05pnHT72qcTQ" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\avi.montemedia.license.txt" />
                    </Component>
                    <Component Id="cmpipB3ZcGNfRAKrjulmZtcsWt_9Uc" Guid="{5CFAA7C4-8604-4FD8-81BA-DA3346DDD555}">
                        <File Id="filvd9UA6vI66C.nEph0DdzCeKBno4" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\CHANGELOG.md" />
                    </Component>
                    <Component Id="cmpk7CUUw8FulaEpEglSdx.YtUQYc8" Guid="{2DA0572C-4D54-4F9F-9F73-9FCEAFC65D82}">
                        <File Id="filMKj.cx7kUF5DaMt4I1vpFVQIpFA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\cmykjpeg.jar" />
                    </Component>
                    <Component Id="cmpdW513xVr9_JIBXqVMEcb1KSihYk" Guid="{F5C96B28-2044-408E-88D5-FCDB870DD606}">
                        <File Id="fildOHZNEFLxlXIe9jdycfRzWLWIy0" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ddsreader.jar" />
                    </Component>
                    <Component Id="cmpcdtytfyNRZPd_zDqhTIyqEz_fEA" Guid="{DD03DA44-338C-4B69-BF8E-16993FE86877}">
                        <File Id="filF.97dBRpA6KIQQLrinZT8kfe.lw" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ddsreader.license" />
                    </Component>
                    <Component Id="cmpd2PX68PU6057tzquSxzmF_x6rWc" Guid="{4B66F610-BF67-4C15-8032-B754F4E49ECB}">
                        <File Id="filw.LM1uHyFe_F6MRv2IlxLEBPOgk" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\decimal.jar" />
                    </Component>
                    <Component Id="cmpxZhj54jFLlIDWVDkHFKwOLLfULk" Guid="{34E76D2E-1447-4E4E-AA9D-671D7CC09DC8}">
                        <File Id="filN4GnFP3qG4C4C_FqpGVY9N.utTs" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\decimal.license.txt" />
                    </Component>
                    <Component Id="cmprMJwWQ3SHV4HLVt99EH4TKFtQWg" Guid="{0B5E7AE1-5001-461D-B537-67D610589F37}">
                        <File Id="filGK.XMcLxy6xZb1L1Bb2QQx2ZzzI" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ffdec_lib.jar" />
                    </Component>
                    <Component Id="cmpl8Oxd0q3uSxkPd8hdc7Q4wMk9oU" Guid="{21F8E061-7C07-41B6-8E78-5EC7B4193FFF}">
                        <File Id="filOfpmZefI8FXge6AQJITPhHIXJlA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ffdec_lib.license.txt" />
                    </Component>
                    <Component Id="cmp.wMdIlntLmuqsqmMU4ctv2b9VKY" Guid="{2D4C6F0B-BC12-4544-ACE4-BB09AC304B01}">
                        <File Id="filmM9cXL2JocAtsCelWjImh1S7EWw" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flacomdoc.jar" />
                    </Component>
                    <Component Id="cmpe0.rdJ1BGkgEMMDKcmFFJpAv6tQ" Guid="{0064C190-5A4D-48A9-A0A3-A018983ABF0F}">
                        <File Id="fil0tUkr.RzesBjG3ktoJ9NY7YY5mY" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flacomdoc.license.txt" />
                    </Component>
                    <Component Id="cmpzx2fBZci1yPUqpyzGvtlQwSxYVo" Guid="{DC9B2B5B-23A0-4496-AABD-61FCFC32A205}">
                        <File Id="fil81mS5Xh37zHT.Jyy4IGTA1H9yL8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpQewNmJncYyKlBroFTt9VsEEOkII" Guid="{3B1A1629-ECAC-46D9-8919-A607A0ED1C6B}">
                        <File Id="filwe6YjWkUXmyF71013Egv320PaUw" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpkLO9mZyF40JYADYMnRspu0BnR.4" Guid="{695A598B-AE8D-4EAD-B2FE-14CB1B3AE830}">
                        <File Id="fil_e6ule.2YehaVMFdZa29j_Zsnh4" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flashdebugger.jar" />
                    </Component>
                    <Component Id="cmpgjVGDo6k.uUj5BIE6hcF2ctyxwE" Guid="{3B4699F4-5A08-400D-BFC2-BAAF5E1FDA63}">
                        <File Id="filMTAX0GyHrdg5KzrbFwz4bBAgF5A" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gif.jar" />
                    </Component>
                    <Component Id="cmpfGuUA2vGjMsfYh8kS1G_0_olI54" Guid="{33EECD33-A1F4-4136-B837-9EE73A2B4AD0}">
                        <File Id="filP1Bylu7.lq0xyNtR2S8rZHwpvI8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gif.license.txt" />
                    </Component>
                    <Component Id="cmpsXp8Q.qCC6lV5H6ZV6IVcCGl_t0" Guid="{54068311-0879-4039-9AFA-FBB2AE6BE04F}">
                        <File Id="fill_Rt2HIylMQbC78kf_uHDBl1PV8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gifreader.jar" />
                    </Component>
                    <Component Id="cmp3rXdy3j69JxHb5DbRaPaB_1WnyY" Guid="{11E58176-D5F3-4C7E-AA19-29534BD02087}">
                        <File Id="filpeI0ctD2YSlhQEh8L5PnrAGNi5g" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gifreader.license.txt" />
                    </Component>
                    <Component Id="cmprRTlvS3Jl7x1O7sZ6u2wmdAdGZQ" Guid="{AE2B8EED-9878-4EF9-90EE-CDEAAC7B55B5}">
                        <File Id="filuYkstT0SzOZpJxsu_br768DOSN0" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gnujpdf.jar" />
                    </Component>
                    <Component Id="cmpMHHAQ4ntT4Gv1cSGVYcqNgJoAlk" Guid="{39857BD6-C7DC-4D64-97DB-0CFEBE5073AF}">
                        <File Id="filMb8Gapq.4WS16sTbd9caNLTnLO8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\graphs.jar" />
                    </Component>
                    <Component Id="cmp1vVKs8FRpQZltbi7FD4Rk_GBzbk" Guid="{77F42FCB-749D-4ABF-A134-444B68F1E263}">
                        <File Id="fil7vKSPqN.uavPRvypTVfofp6CnxI" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jansi-2.4.0.jar" />
                    </Component>
                    <Component Id="cmpMhMsid5395FXSJKw73zqlMzUv_4" Guid="{AD99CF66-92AD-4420-8E2A-ABCE6571FC5F}">
                        <File Id="fil7gFCOlCO8QsDpDphHAoo3jvoH9E" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jargs.jar" />
                    </Component>
                    <Component Id="cmpfjx8DnPRViuoI2viIq1DjLs5eNw" Guid="{A13B66ED-8D9A-4DC9-BEE9-51C019127C33}">
                        <File Id="fil1PuE_hL0ZfynQwsFOtz1XKcMDHg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\JavactiveX.jar" />
                    </Component>
                    <Component Id="cmpSKT2A8s0lOxYc44grQCBBDrCB4o" Guid="{F1808D8F-0F85-49E8-8AE2-273475AC0110}">
                        <File Id="fil_IHS6XySH88DRasnCv1kDR526.o" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jl.license.txt" />
                    </Component>
                    <Component Id="cmpXng2mZYWQ0rCxZzUrQVbvWJUH6M" Guid="{F3884B29-26A6-418B-A595-A34C961FBC71}">
                        <File Id="filG.ulVrMvP1fMdY6KsTVj2zElye4" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jl1.0.1.jar" />
                    </Component>
                    <Component Id="cmpPO._2vPy6c50dvj6Sg7GcLh1oOQ" Guid="{5CA71D9F-6A42-4665-BE8C-6F554991A125}">
                        <File Id="filiSyNHEXBQFu7K44xgeZ7L2wLprA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jlayer-1.0.2.jar" />
                    </Component>
                    <Component Id="cmpGlqJDs0mWciUIls_sG5RdfcXwUY" Guid="{55E51673-6F3A-4D1A-A773-8065E9482683}">
                        <File Id="filAGgbuoByuG3nReOujvesDtliqHc" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jlayer.license.txt" />
                    </Component>
                    <Component Id="cmpreO5wElVRl9haN.9hdEXDE2bxPI" Guid="{5D579EF3-A251-45D6-83FE-A7A3C414F514}">
                        <File Id="filzdN7gdG7vM4gBxksefv1mhqhK_A" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jna-3.5.1.jar" />
                    </Component>
                    <Component Id="cmp9Bdytll2oy_39.mVy0iTwt8SnjU" Guid="{4276C179-E7DF-4A7F-8E8C-8F8FC9953393}">
                        <File Id="fillqO90i4Behr3t1AugqkaGltqlKM" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jna-platform-3.5.1.jar" />
                    </Component>
                    <Component Id="cmp4nm8Ry9I07cIRpOeJdLGWj7EmAw" Guid="{C6A2B99C-38F5-4012-A6CA-C64A684C6A29}">
                        <File Id="fil5B4u88FieNOQWZ1D9bd2TMtdY6k" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jna.license.txt" />
                    </Component>
                    <Component Id="cmpIR1gcAa.3VC1qRTgCwhOmgaXsSM" Guid="{C9F9C30E-2F67-4154-B746-82A45347D06A}">
                        <File Id="filAT7Q6P4a4OdssRrPnNpre5Vk3BA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpacker.jar" />
                    </Component>
                    <Component Id="cmpeYdhlCJ1bBnZcsEaIbtpPtkiBVo" Guid="{9D0453A3-1324-4D5E-A73F-AA5D4AA7F99E}">
                        <File Id="filoS0LjO1q6viMba4Lvnx33c_j1Wk" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpacker.license.txt" />
                    </Component>
                    <Component Id="cmp_uLGgbRwLaGklgqGVH24QXobXaU" Guid="{3AD178CA-C1A7-47DE-B2EB-B3289F2AFE1C}">
                        <File Id="fil8Gr2FsdN3DuC8KAo9JMhWqPxEng" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpproxy.jar" />
                    </Component>
                    <Component Id="cmpI8.e_gEWCIGLbSA_KX8CASmI54c" Guid="{B3827AAC-62D4-4595-8A52-1A8BBD99FD97}">
                        <File Id="filscCI8pfDQXp_XYvGflLMgXaasSo" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpproxy.muffin.license.txt" />
                    </Component>
                    <Component Id="cmpk34fWYBOvQBkKARk9TMePiYXzk4" Guid="{DC92BCD8-8BC4-429C-BF25-D5E3852538FB}">
                        <File Id="filgMMRYEYvMksUWjp31MFmuqOwzsE" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jsyntaxpane-0.9.5.jar" />
                    </Component>
                    <Component Id="cmpTHFvmggxeLUd74bosHyun0y42A0" Guid="{1BBDBD0A-74CB-4BED-B883-0CC1CFF9E4BD}">
                        <File Id="filgVVg9drrkoujZ0lZ_DUU5QI3VVg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jsyntaxpane.license.txt" />
                    </Component>
                    <Component Id="cmp_TPOnaERJ9VzCxPu.EYzaRzssdA" Guid="{448C03B9-8854-4EAA-B3D9-77D6510BF1C8}">
                        <File Id="fil9X4JT5uUciGFg5ZJXb96ZvK4eTA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\license.txt" />
                    </Component>
                    <Component Id="cmp.QOEH2XZxbTwcwZp8pJDUCzG.Yc" Guid="{1ECC9185-769E-4F4C-95CE-9B5FCA57C56C}">
                        <File Id="fil44v78XsMitaYUoBAF5Yq5Z.FCKA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\LZMA.jar" />
                    </Component>
                    <Component Id="cmpA2I1JA4g8lbdxXaQoBsKVq0FlyA" Guid="{ECFEE871-3984-43FA-94B7-6C1BAA0E0B3D}">
                        <File Id="fil892Pcoro6OasEhWEd_5bHtomwsU" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\minimal-json-0.9.5.jar" />
                    </Component>
                    <Component Id="cmpSTKUWxf8X0UozoKirr_fyKqIKRM" Guid="{40B57919-4793-4123-B0C1-7E6220AEEA40}">
                        <File Id="filB5O99gsFh7n9_q0MB2aAzAexe1g" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\minimal-json.license.txt" />
                    </Component>
                    <Component Id="cmphlxPz3kZ6XFRdbR85Z86Anz5lGA" Guid="{6F19F90D-3DCD-48C8-8495-C2DF2BDFCE2E}">
                        <File Id="filxVRfSr6QMOoID6kU6QmZZySuXOg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\miterstroke.jar" />
                    </Component>
                    <Component Id="cmpwE7yMF0GyfDqxtICVx1QN2XSbLQ" Guid="{FC673675-D2EC-4CE0-9457-CCC5518DE112}">
                        <File Id="fil9U5AuBFsblBX7XL4T6pn.pnhtYc" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\miterstroke.license.txt" />
                    </Component>
                    <Component Id="cmpx4ftLfI98fGQJbLh3LGc65Ns6u8" Guid="{6DB8CDF3-8385-42D5-9E38-D891CF624F3E}">
                        <File Id="filEmVqBoEs2KlIMtbZQ9mLtMtoVJI" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\nellymoser.jar" />
                    </Component>
                    <Component Id="cmpk1oP1FOUk4YK6zxby7wD9ky9aDo" Guid="{B0377F4A-260C-409C-AB5B-DAEBE8744E57}">
                        <File Id="filpLSOyTgEhOoTYcDyTeQ30FOk.iw" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\nellymoser.license.txt" />
                    </Component>
                    <Component Id="cmpOLaDVMkl0umCW.x9nuie7GIP4Yc" Guid="{C5760B46-5A16-4EAE-AFB4-64E0CE35E57D}">
                        <File Id="filP61QynOG83WrsB1hO4Gyv2zjac8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\README.md" />
                    </Component>
                    <Component Id="cmpdtMhAH.R2YW29wRGSUyHfhhX47U" Guid="{95EEB790-074B-4B70-A479-C7EBC4E1FFAA}">
                        <File Id="filRnmr7jM54UHTKaolx_m_usF9eW8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\sfntly.jar" />
                    </Component>
                    <Component Id="cmpRVlNpsBkFZc88QFC8RzshZUiGXQ" Guid="{39E11224-6CD6-41A1-8B38-4C12580A4DF0}">
                        <File Id="filgzZMqco2IuuZdx5SMiw7mx9WSvM" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\sfntly.license.txt" />
                    </Component>
                    <Component Id="cmpJFAaDAFZKvvNmxCLAD0D1ZVxLlM" Guid="{C778CB64-CF98-49BA-B71E-457DBEB63F19}">
                        <File Id="filgkSex4hHeqKy8yQO.VGLbES7Qtg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-6.2.jar" />
                    </Component>
                    <Component Id="cmp6eihxO6TvaX6NV732mIpVXmkNqY" Guid="{B2EF3780-5416-4624-9A0A-DD1241C25BD6}">
                        <File Id="filgaOraWnFwJhR0b.cf0LfgdBTSoY" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-fix.jar" />
                    </Component>
                    <Component Id="cmp_1hsazVz2twEkgZt0KEzKFMtTec" Guid="{09E73625-3ED6-4753-8022-7339763B01E0}">
                        <File Id="filoWph6_I7JzK8tUCsQS_h2VADV.w" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpcns8.PpZdvL8VvkDcP_klnIk5lU" Guid="{6F2CE9AF-57E3-47F3-842C-1A2710E09E67}">
                        <File Id="filpCSh063Tp9FUigiaUs3TOSoPiWA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpxIszz6BxL4noS2EgaTgLTtYg8C8" Guid="{91FBECB2-A1B0-4C53-86F9-C5FC97D1AA3E}">
                        <File Id="filtZMRcv8ZhCBYKk82pWyeov1y.1c" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance.license.txt" />
                    </Component>
                    <Component Id="cmp2VtU3z4rhmTOkIY8jZKz9J1em.8" Guid="{E5F34265-6C3F-4BF5-92DC-B3B0E3A25A3F}">
                        <File Id="filcpyhFML3u4ofTlRJ1sOLkr9uvYg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\tablelayout.jar" />
                    </Component>
                    <Component Id="cmpwqOl_gZCqsot2JDRe04zvwKBeU0" Guid="{0B98FB1E-EC8D-42F3-B74D-72C6E9B76899}">
                        <File Id="fill.8eS_tLTqDNxeBEXqOM9lI_6Ro" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\tga.jar" />
                    </Component>
                    <Component Id="cmpRWJ1cUBh1ylBfm5Qt63ld11cgOw" Guid="{555579D3-3505-43ED-864D-60EC7B503926}">
                        <File Id="filQrUrHk72_60RYH_FlAojeQoCZ4c" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\tga.license.txt" />
                    </Component>
                    <Component Id="cmpF1DkO5AjFMZCDUbgH5LBu.Y6oGM" Guid="{1863C670-07F7-4F68-873A-D9CA96A94F75}">
                        <File Id="filANzPrGf5kavqpCylc1d36McN8HM" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\tomlj-1.1.1.jar" />
                    </Component>
                    <Component Id="cmpqU2XDeo4M7g1sCVK_Z3dquv8wos" Guid="{B31DF067-8BA8-457A-A081-BB4BDC01851F}">
                        <File Id="fil2M8Q_ZUtmPj62PdXp_O0DBHCRUg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\treetable.jar" />
                    </Component>
                    <Component Id="cmpQmAZ_6o7u70fRySmsOsMl3QSen8" Guid="{476CE92B-D5C3-4356-9B79-82AD8823A427}">
                        <File Id="filpcvEkDNdxChOhls3xrBf2jyDtVo" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\trident-6.2.jar" />
                    </Component>
                    <Component Id="cmpGbjewESon5ScOIYreJcODqtzrf8" Guid="{CA19EC40-E175-4878-999D-C2C4854E807E}">
                        <File Id="filQZjqZIHSJq8GNf66AsE5DT.gt_w" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\trident.license.txt" />
                    </Component>
                    <Component Id="cmpEFXf22C9zzrSPnlnLshVCHUOy3w" Guid="{8027E621-F2DB-4030-B800-37D2455E6945}">
                        <File Id="fildOVuR.FkKlJXrQeP1neosahHbbU" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ttf.doubletype.license.txt" />
                    </Component>
                    <Component Id="cmpfT3DSY8s394d_lLei6Dae7uiVzI" Guid="{62B8F665-C6F4-49FE-B70A-F1C103446012}">
                        <File Id="filBXxqHaFzPpQqalipUsoGF_.uOzY" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ttf.fontastic.license.txt" />
                    </Component>
                    <Component Id="cmpjkk10WRv4giDJTfYvX_I.5P6z58" Guid="{CE8A6724-59CA-495E-8F39-ADED42A081B1}">
                        <File Id="filDb7M5evVNU8Qr_RUuLRkE0aWNG8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ttf.jar" />
                    </Component>
                    <Component Id="cmpBpk3YSoyqMw3rVkOslOvAkyNQI8" Guid="{E5AC3A1B-B450-4ED5-A481-A926AA630B7C}">
                        <File Id="fil9.h8GDCbxlQjo40SBcOi9OnKs40" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\vlcj-4.7.3.jar" />
                    </Component>
                    <Component Id="cmp_N84PvbtrxWXTiR7zy_AN52YQ_0" Guid="{DDA500EB-777A-46E9-AC51-4F41188B33A1}">
                        <File Id="filRZzzlT469YIC6n4tIJt7oN_5URs" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\vlcj-natives-4.7.0.jar" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SkuaPublishedComponents">
            <ComponentRef Id="cmp1jNFW3f4TC5ZydoNMn2KRSYzrcQ" />
            <ComponentRef Id="cmpDSGGeDFo2AsbSrbqFJnkvQ2ahLM" />
            <ComponentRef Id="cmp5m.3X3VqzNgomGbOVaBnSYseOnQ" />
            <ComponentRef Id="cmpCDl9csrOFOqqrs8i0gy0AiafQVM" />
            <ComponentRef Id="cmpxuW2g8iq1IOgEZCaQZ41FWeDWRY" />
            <ComponentRef Id="cmp16IgY9t_fazmSPUoQ1CRWC.rJPU" />
            <ComponentRef Id="cmpPFYKxBnOblQarjebLOCsFXjRCDE" />
            <ComponentRef Id="cmp8hsp9SEV0wB7Ig3B4bPq.S8R6II" />
            <ComponentRef Id="cmpmSSw8f0QP6BTtDsttmf3.5qtlg8" />
            <ComponentRef Id="cmpBTF1QW_ZZrRWEO1zA11EyTQIu_A" />
            <ComponentRef Id="cmp76NgR1ug5r_dWRvSGvqCA2TRe0I" />
            <ComponentRef Id="cmpv1hRnTuIyEw8HTLR.TOmcv6RcHk" />
            <ComponentRef Id="cmpeyEdtaRR0DJwykzBAf7.88L7MFc" />
            <ComponentRef Id="cmpxjDK3X.F5CGQ4g.FHn37U1Wq1cE" />
            <ComponentRef Id="cmpqAJ_uP7nhj_ifyrHNxsjBNj.hUY" />
            <ComponentRef Id="cmpg9xqCg_X_Ye_2ppUmSVvugcrrQI" />
            <ComponentRef Id="cmpTFRuT2tca4GI3pybuRiHv1s4lCI" />
            <ComponentRef Id="cmpAalQni6rKhKfftMQpwteB4Q43bE" />
            <ComponentRef Id="cmpYUsAQD5_H4lkZaOFihdt1lq8tJA" />
            <ComponentRef Id="cmpapyxUwF5dGOyWg78m8WDqyfk4lM" />
            <ComponentRef Id="cmp90cGoq76VXAUDWy0_drsw8J4OFI" />
            <ComponentRef Id="cmpo6sOvF.6gNCyka0_kfH5DbLcAF0" />
            <ComponentRef Id="cmp34f515Kgos6k.4W9mKFZRz1XtkE" />
            <ComponentRef Id="cmpU86PzXQ9SSPdEag9wEQwGrFLWIw" />
            <ComponentRef Id="cmpF7UTkP4.iHa89YUQpDP4r92gzyM" />
            <ComponentRef Id="cmpEVzVxMzhEICnbbsNam6ZSszhKB4" />
            <ComponentRef Id="cmpa4NLJqlTYp._bXq4TM_MAIjJRBM" />
            <ComponentRef Id="cmp8gYc93fFKeipa4BxL7DMHfwLNcM" />
            <ComponentRef Id="cmpEZ5oVtMB2JU3ySArlAAxkZcwgfY" />
            <ComponentRef Id="cmpMlyimaLaGACmtcStHx0evR0Iq0k" />
            <ComponentRef Id="cmpCMGyk6cuM1Fa.r7HygS_nHm0haU" />
            <ComponentRef Id="cmpr7yJ11NeAJFnhycNWfuGfswmhuk" />
            <ComponentRef Id="cmpUgZM.GruUNhj_f.VW41RB5VQ6Dc" />
            <ComponentRef Id="cmpbCnbEzfz6x.k1QwVODi_NvnURbs" />
            <ComponentRef Id="cmpZsDKwJPhHLdTEqgNZrdpcddDvZc" />
            <ComponentRef Id="cmppN79cNWmdoe9svQXszvyURaVG8U" />
            <ComponentRef Id="cmpjwQEKti5i0hubIiPFWe5g0_gjdY" />
            <ComponentRef Id="cmpq8Pq.Vm4MMCvkd_6MoVrL2wpZHk" />
            <ComponentRef Id="cmpMMlcpLmrIKRKm32jJeNR1H2RX3Y" />
            <ComponentRef Id="cmpjI5cJaRsiYHVHzVrkfOwYtcpGOg" />
            <ComponentRef Id="cmpKA3f6mkU0wnYnOmvyEM4J7GNGdc" />
            <ComponentRef Id="cmpvWm3IMoVXVXlKCv1Y4zYgq1U_3Y" />
            <ComponentRef Id="cmpB_Gx_SinMoDsOzsgeiEvFqEF.k8" />
            <ComponentRef Id="cmpjlmlIKGeGq86HE2329.kEotx3kA" />
            <ComponentRef Id="cmpNMPP8D8914YVwpSPT1VV7yFcKfE" />
            <ComponentRef Id="cmpOIZKPUqZJkQtmIcSQl2xJDTr.pA" />
            <ComponentRef Id="cmpir87lYjO6bRxezEOdUl5mM0KNFg" />
            <ComponentRef Id="cmpSAE.v_lE_V97jwgjGm4iixutvrE" />
            <ComponentRef Id="cmpkUcXKeDNTEtxDRi7ufyMYI6rhZk" />
            <ComponentRef Id="cmphd1wYH18HgcrwcgM.yn95ziTilI" />
            <ComponentRef Id="cmpgzTT232Q52zGmghbZjU9TCBYODU" />
            <ComponentRef Id="cmpW61I7dLIB0FX59I4zYZsCoxxH4c" />
            <ComponentRef Id="cmp33RLereX_kvxAxRCVtUWz4HLRiA" />
            <ComponentRef Id="cmpp.ehpjfePsG.djgYNTagYFm4S60" />
            <ComponentRef Id="cmp5YinyJaCP.aYkL4lsomf0_Jo0dc" />
            <ComponentRef Id="cmpipB3ZcGNfRAKrjulmZtcsWt_9Uc" />
            <ComponentRef Id="cmpk7CUUw8FulaEpEglSdx.YtUQYc8" />
            <ComponentRef Id="cmpdW513xVr9_JIBXqVMEcb1KSihYk" />
            <ComponentRef Id="cmpcdtytfyNRZPd_zDqhTIyqEz_fEA" />
            <ComponentRef Id="cmpd2PX68PU6057tzquSxzmF_x6rWc" />
            <ComponentRef Id="cmpxZhj54jFLlIDWVDkHFKwOLLfULk" />
            <ComponentRef Id="cmprMJwWQ3SHV4HLVt99EH4TKFtQWg" />
            <ComponentRef Id="cmpl8Oxd0q3uSxkPd8hdc7Q4wMk9oU" />
            <ComponentRef Id="cmp.wMdIlntLmuqsqmMU4ctv2b9VKY" />
            <ComponentRef Id="cmpe0.rdJ1BGkgEMMDKcmFFJpAv6tQ" />
            <ComponentRef Id="cmpzx2fBZci1yPUqpyzGvtlQwSxYVo" />
            <ComponentRef Id="cmpQewNmJncYyKlBroFTt9VsEEOkII" />
            <ComponentRef Id="cmpkLO9mZyF40JYADYMnRspu0BnR.4" />
            <ComponentRef Id="cmpgjVGDo6k.uUj5BIE6hcF2ctyxwE" />
            <ComponentRef Id="cmpfGuUA2vGjMsfYh8kS1G_0_olI54" />
            <ComponentRef Id="cmpsXp8Q.qCC6lV5H6ZV6IVcCGl_t0" />
            <ComponentRef Id="cmp3rXdy3j69JxHb5DbRaPaB_1WnyY" />
            <ComponentRef Id="cmprRTlvS3Jl7x1O7sZ6u2wmdAdGZQ" />
            <ComponentRef Id="cmpMHHAQ4ntT4Gv1cSGVYcqNgJoAlk" />
            <ComponentRef Id="cmp1vVKs8FRpQZltbi7FD4Rk_GBzbk" />
            <ComponentRef Id="cmpMhMsid5395FXSJKw73zqlMzUv_4" />
            <ComponentRef Id="cmpfjx8DnPRViuoI2viIq1DjLs5eNw" />
            <ComponentRef Id="cmpSKT2A8s0lOxYc44grQCBBDrCB4o" />
            <ComponentRef Id="cmpXng2mZYWQ0rCxZzUrQVbvWJUH6M" />
            <ComponentRef Id="cmpPO._2vPy6c50dvj6Sg7GcLh1oOQ" />
            <ComponentRef Id="cmpGlqJDs0mWciUIls_sG5RdfcXwUY" />
            <ComponentRef Id="cmpreO5wElVRl9haN.9hdEXDE2bxPI" />
            <ComponentRef Id="cmp9Bdytll2oy_39.mVy0iTwt8SnjU" />
            <ComponentRef Id="cmp4nm8Ry9I07cIRpOeJdLGWj7EmAw" />
            <ComponentRef Id="cmpIR1gcAa.3VC1qRTgCwhOmgaXsSM" />
            <ComponentRef Id="cmpeYdhlCJ1bBnZcsEaIbtpPtkiBVo" />
            <ComponentRef Id="cmp_uLGgbRwLaGklgqGVH24QXobXaU" />
            <ComponentRef Id="cmpI8.e_gEWCIGLbSA_KX8CASmI54c" />
            <ComponentRef Id="cmpk34fWYBOvQBkKARk9TMePiYXzk4" />
            <ComponentRef Id="cmpTHFvmggxeLUd74bosHyun0y42A0" />
            <ComponentRef Id="cmp_TPOnaERJ9VzCxPu.EYzaRzssdA" />
            <ComponentRef Id="cmp.QOEH2XZxbTwcwZp8pJDUCzG.Yc" />
            <ComponentRef Id="cmpA2I1JA4g8lbdxXaQoBsKVq0FlyA" />
            <ComponentRef Id="cmpSTKUWxf8X0UozoKirr_fyKqIKRM" />
            <ComponentRef Id="cmphlxPz3kZ6XFRdbR85Z86Anz5lGA" />
            <ComponentRef Id="cmpwE7yMF0GyfDqxtICVx1QN2XSbLQ" />
            <ComponentRef Id="cmpx4ftLfI98fGQJbLh3LGc65Ns6u8" />
            <ComponentRef Id="cmpk1oP1FOUk4YK6zxby7wD9ky9aDo" />
            <ComponentRef Id="cmpOLaDVMkl0umCW.x9nuie7GIP4Yc" />
            <ComponentRef Id="cmpdtMhAH.R2YW29wRGSUyHfhhX47U" />
            <ComponentRef Id="cmpRVlNpsBkFZc88QFC8RzshZUiGXQ" />
            <ComponentRef Id="cmpJFAaDAFZKvvNmxCLAD0D1ZVxLlM" />
            <ComponentRef Id="cmp6eihxO6TvaX6NV732mIpVXmkNqY" />
            <ComponentRef Id="cmp_1hsazVz2twEkgZt0KEzKFMtTec" />
            <ComponentRef Id="cmpcns8.PpZdvL8VvkDcP_klnIk5lU" />
            <ComponentRef Id="cmpxIszz6BxL4noS2EgaTgLTtYg8C8" />
            <ComponentRef Id="cmp2VtU3z4rhmTOkIY8jZKz9J1em.8" />
            <ComponentRef Id="cmpwqOl_gZCqsot2JDRe04zvwKBeU0" />
            <ComponentRef Id="cmpRWJ1cUBh1ylBfm5Qt63ld11cgOw" />
            <ComponentRef Id="cmpF1DkO5AjFMZCDUbgH5LBu.Y6oGM" />
            <ComponentRef Id="cmpqU2XDeo4M7g1sCVK_Z3dquv8wos" />
            <ComponentRef Id="cmpQmAZ_6o7u70fRySmsOsMl3QSen8" />
            <ComponentRef Id="cmpGbjewESon5ScOIYreJcODqtzrf8" />
            <ComponentRef Id="cmpEFXf22C9zzrSPnlnLshVCHUOy3w" />
            <ComponentRef Id="cmpfT3DSY8s394d_lLei6Dae7uiVzI" />
            <ComponentRef Id="cmpjkk10WRv4giDJTfYvX_I.5P6z58" />
            <ComponentRef Id="cmpBpk3YSoyqMw3rVkOslOvAkyNQI8" />
            <ComponentRef Id="cmp_N84PvbtrxWXTiR7zy_AN52YQ_0" />
        </ComponentGroup>
    </Fragment>
</Wix>